.About {
  width: 100%;
  height: 100%;
  margin-top: 44px;
  @media screen and (max-width: 768px) {
    margin-top: 17px;
  }
  flex-grow: 1;
  &__banner {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 44px;
    img {
      height: 223px;
      object-fit: cover;
      width: 100%;
      border-radius: 25px;
    }
  }
  &_Dropdowns_container {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    display: grid;
    gap: 33px;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}
