.Layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}
.content {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 0px 100px 20px 100px;
  flex-direction: column;
  flex-grow: 1;
  display: flex;
  @media screen and (max-width: 768px) {
    padding: 20px 20px;
  }
}
