.Carousel {
    position: relative;
    width: 100%;
    height: 415px;
    border-radius: 25px;
    @media screen and (max-width: 768px) {
        height: 255px;
        border-radius: 10px;
    }
    .pictures {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
        @media screen and (max-width: 768px) {
            border-radius: 10px;
        }
    }
    .arrow_right {
        position: absolute;
        right: 23px;
        top: 156px;
        cursor: pointer;
        @media screen and (max-width: 768px) {
            top: 118px;
            width: 12px;
            height: 20px;
        }
    }
    .arrow_left {
        position: absolute;
        left: 23px;
        top: 156px;
        transform: rotate(180deg);
        cursor: pointer;
        @media screen and (max-width: 768px) {
            top: 118px;
            width: 12px;
            height: 20px;
        }
    }
}